**/*.cpp
**/*.h
**/*.ppt
**/*.jar
**/*.class
**/*.java
**/*.sh
**/*.html
**/*.json
**/*.png
**/*.md
**/*.rule
**/*.rules
**/*.gyp
**/*.yml
**/Dockerfile
.clang-format
.prettierrc
.prettierignore
.npmignore
.gitignore
.gitattributes
LICENSE
