language: java
sudo: false
jdk:
  - oraclejdk8
  - oraclejdk7
env:
  - NODE_VERSION=7 CC=clang CXX=clang++
  - NODE_VERSION=6 CC=clang CXX=clang++
  - NODE_VERSION=4 CC=clang CXX=clang++
  - NODE_VERSION="0.12"
  - NODE_VERSION="0.10"
before_install:
  - nvm install $NODE_VERSION
before_script:
  - npm install
script:
  - npm test
notifications:
  email:
    on_success: "never"
